.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;

  h1 {
    font-family: "Noto Serif Display", serif;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
  }

  p {
    &:not(:last-of-type) {
      margin: 0 0 16px 0;
    }

    &:first-of-type {
      margin-top: 16px;
    }
  }
}
