@import "_normalize";
@import "_fonts";
@import "_nav";
@import "_hero";
@import "_about";
@import "_skills";
@import "_experience";

body {
  // align-items: center;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 24px;
  width: 100%;

  & main {
    margin-left: 25%;
    width: 50%;

    & section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1200px;
      min-height: 100vh;
      width: 100%;

      & > h1 {
        font-family: "Noto Serif Display", serif;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 8px;
        text-align: center;
      }
    }

    & section:last-of-type {
      margin-bottom: 16px;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 100%;

    &::after {
      background: white;
      content: "§";
      display: inline-block;
      font-size: 24px;
      left: calc(50% - 0.25em);
      padding: 0 0.25em;
      position: relative;
      top: -12px;
    }
  }

  p {
    line-height: 1.25;
  }

  *::selection {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
  }

  img::selection {
    background-color: unset;
  }

  .progress-bar {
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    height: 10px;

    &-wrapper {
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      height: 10px;
    }
  }
}
